In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
t1 = (53,1,"Vatsa",5+6j,True)

In [4]:
t1[0:4]

(53, 1, 'Vatsa', (5+6j))

In [5]:
l=[1,2,3]

In [6]:
l[0]=2

In [7]:
l

[2, 2, 3]

# Lists are mutable

In [8]:
t1[0]=0

TypeError: 'tuple' object does not support item assignment

# Tuples are immutable

In [9]:
t2=(1,2,3,4)

In [10]:
t1+t2

(53, 1, 'Vatsa', (5+6j), True, 1, 2, 3, 4)

In [11]:
t1*3

(53,
 1,
 'Vatsa',
 (5+6j),
 True,
 53,
 1,
 'Vatsa',
 (5+6j),
 True,
 53,
 1,
 'Vatsa',
 (5+6j),
 True)

In [12]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

# Only when a tuple has numeric data max function can be used

In [13]:
t3=(1,2,3,4,5)
max(t3)

5

In [14]:
t1.index(53)

0

In [15]:
t1.count(53)

1

In [16]:
t3 = ((1,2,3),(4,5,6),(7,8,9),[15,16,17,18])

In [17]:
t3[2][0:2]

(7, 8)

In [18]:
t3[3][1:3]

[16, 17]

In [19]:
del(t3)

In [20]:
t3

NameError: name 't3' is not defined

In [21]:
a = input("Type the data you want to check if available in the tuple")
if a in t1:
    print("Yes it exists")
else:
    print("No it doesn't exist")

Type the data you want to check if available in the tuple int

No it doesn't exist

# You can perform only index and count functions in tuples as they are immutble, 
# Due to this we need to convert the tuple into a list and perform any operation we want and then convert it back into a tuple